.dmama{
    text-align: center;
    background-color: rgb(79, 88, 116);
}
body{
    background-color: black;
}
div{
    text-align: center;
}
.dwhite{
    background-color: white;
}
.ddad{
    background-color: rgb(79, 88, 116) ;
}
.dsister{
    background-color: rgb(241, 165, 255);
    text-align: center;
}