.dmom{
    background-color: rgb(79, 88, 116);
}
.d1{
    text-align: center;
}
body{
    background-color: aliceblue;
}
.ddad{
    text-align: center;
    background-color: rgb(3, 0, 49);
}
p{
    color:white
}
.brother{
    text-align: center;
    background-color: black;
}
